@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Enter Animate */
/* .EnterView {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  will-change: opacity;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5em;
  font-size: 30px;
  flex-direction: column;
}

.EnterView ._t1 {
  font-weight: 400;
}

._l1 {
  opacity: 0;
}

.box {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

._t1 {
  opacity: 0;
}

._t2 {
  opacity: 0;
}

.opacity_1 {
  opacity: 1;
  transition: opacity 1s 0.5s;
}

.opacity_2 {
  opacity: 1;
  transition: opacity 1s 1s;
}

.opacity_3 {
  opacity: 0;
  transition: opacity 0.2s 0.2s;
}

.opacity_4 {
  opacity: 0;
  transition: opacity 0.5s 0.4s;
}

.EnterView ._t2 {
  font-weight: 200;
}

#root {
  font-family: "Poppins", sans-serif;

} */